<footer>
        <div class="top_footer">
          <a class="about_us" href="">About Us</a>
          <a class="help" href="">Help</a>
          <a class="feed_back" href="">Feedback</a>
          <a class="contact" href="">Contact</a>
        </div>
        <div class="line_break"></div>
        <div class="para">
          <p>This website is a SAD project of Le Tuan Minh</p>
          <p>
            © 2020 LM Corporation.All rights reserved. All trademarks are
            property of their respective owners in the US and other countries.
          </p>
          <div class="contact_icon">
            <a href="">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="">
              <i class="fab fa-google-plus-g"></i>
            </a>
            <a href="">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
        <div class="copy_right"></div>
      </footer>