<nav>
    <div class="nav-content">
        <a href="#" class="left-nav">
            <i class="fab fa-centercode"></i>
            <p>LMCorporation</p>
        </a>
        <div class="right-nav">
            <div class="mess">
                <div class="noti-num"></div>
                <i class="far fa-comments"></i>
            </div>

            <div class="notifi">
                <div class="noti-num"></div>
                <i class="far fa-bell"></i>
            </div>
            <div class="avatar"></div>
            <div class="setting">
                <i class="fas fa-cog"></i>
            </div>
        </div>
    </div>
</nav>