<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css" />
    <script src="//cdn.jsdelivr.net/npm/less"></script>
    <script src="script.js" defer></script>
    <script src="https://kit.fontawesome.com/26d4a64054.js" defer></script>
</head>

<body>
    {{>header}}
    <section>
        <div class="left-col">
            <div class="background">
                <div class="background-content">
                    <div class="big-avatar"></div>
                    <div class="client-name">Le Minh</div>
                </div>
            </div>
            <div class="content-list">
                <div class="home_div">
                    <p class="title">
                        <i class="fas fa-home"></i>
                        Trang Chủ
                    </p>
                </div>
                <div class="employee_div">
                    <p class="title">
                        <i class="fas fa-user-alt"></i>
                        Nhân Viên
                    </p>
                    <div class="employee child">
                        <div class="employees">
                            <i class="fas fa-dot-circle"></i>
                            <a href="">Quản lí nhân viên</a>
                        </div>
                        <div class="role_right">
                            <i class="fas fa-dot-circle"></i>
                            <a href=""> Vai trò và đặc quyền </a>
                        </div>
                    </div>
                </div>
                <div class="project_div">
                    <p class="title">
                        <i class="fas fa-tasks"></i>
                        Quản lí dự án
                    </p>
                    <div class="project child">
                        <div class="projects">
                            <i class="fas fa-dot-circle"></i>
                            <a href="">Dự án</a>
                        </div>
                        <div class="pay">
                            <i class="fas fa-dot-circle"></i>
                            <a href="">Hóa đơn</a>
                        </div>
                    </div>
                </div>
                <div class="management_div">
                    <p class="title">
                        <i class="fas fa-suitcase"></i>
                        Nhân sự
                    </p>
                    <div class="management child">
                        <div class="reward">
                            <i class="fas fa-dot-circle"></i>
                            <a href=""> Thưởng </a>
                        </div>
                        <div class="warning">
                            <i class="fas fa-dot-circle"></i>
                            <a href=""> Cảnh báo </a>
                        </div>
                        <div class="kick">
                            <i class="fas fa-dot-circle"></i>
                            <a href=""> Thôi việc </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="right-col">
            {{{body}}}
        </div>
    </section>
    {{>footer}}

</body>

</html>