<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/app.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {{!-- <script src="../../../public/scripts/home.js" defer></script> --}}
    <script src="https://kit.fontawesome.com/26d4a64054.js" defer></script>
</head>

<body>
    {{>header}}
    <section>
        <div class="left-col">
            <div class="background">
                <div class="background-content">
                    <div class="big-avatar"></div>
                    <div class="client-name">ADMIN</div>
                </div>
            </div>
            <div class="content-list">
                <div class="home_div">
                    <p class="title">
                        <i class="fas fa-home"></i>
                        Trang Chủ
                    </p>
                    <div class="home child">
                        <div class="homepage">
                            <i class="fas fa-dot-circle"></i>
                            <a href="/">Dashboard</a>
                        </div>
                    </div>

                </div>
                <div class="employee_div">
                    <p class="title">
                        <i class="fas fa-user-alt"></i>
                        Nhân viên
                    </p>
                    <div class="employee child">
                        <div class="employees">
                            <i class="fas fa-dot-circle"></i>
                            <a href="/employee">Quản lí nhân viên</a>
                        </div>
                        <div class="role_right">
                            <i class="fas fa-dot-circle"></i>
                            <a href="/access"> Cấp quyền truy cập </a>
                        </div>
                    </div>
                </div>
                <div class="project_div">
                    <p class="title">
                        <i class="fas fa-tasks"></i>
                        Quản lí dự án
                    </p>
                    <div class="project child">
                        <div class="clients">
                            <i class="fas fa-dot-circle"></i>
                            <a href="/client">Khách Hàng</a>
                        </div>
                        <div class="projects">
                            <i class="fas fa-dot-circle"></i>
                            <a href="/project">Dự án</a>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        <!--  -->
        <div class="right-col">
            {{{body}}}
        </div>
    </section>
    {{>footer}}
   
</body>

</html>