<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/employee.css" />
    <link href="//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book" rel="stylesheet"
        type="text/css" />
    <script src="/scripts/project.js" defer></script>
    <script src="https://kit.fontawesome.com/26d4a64054.js" defer></script>
    <title>Employee</title>
</head>

<body>
    <div class="edit_form">
        <div class="edit_table">
            <div class="edit_header">
                <p></p>
                {{!-- <button class="close">
                    <i class="far fa-times-circle"></i>
                </button> --}}
            </div>

            <div class="edit_body">

                <div class="form_group">
                    <p class="label">Tên
                        <span class="require">*</span>

                    </p>
                    <input class="name_input" type="text">
                </div>
                <div class="form_group">
                    <p class="label">Số điện thoại
                        <span class="require">*</span>
                    </p>

                    <input class="phone_input" type="text">
                </div>
                <div class="form_group">
                    <p class="label">Email
                        <span class="require">*</span>
                    </p>

                    <input class="email_input" type="text">
                </div>
                <div class="form_group">
                    <p class="label">Ngày Sinh
                        <span class="require">*</span>

                    </p>
                    <input class="DOB_input" type="date">
                </div>
                <div class="form_group">
                    <p class="label">ID
                        <span class="require">*</span>

                    </p>
                    <input class="ID_input" type="text" value="" readonly>
                </div>
                <div class="form_group">
                    <p class="label">Địa Chỉ
                        <span class="require">*</span>

                    </p>
                    <input class="address_input" type="text">
                </div>

            </div>
            <div class="invalid">
                <p></p>
            </div>
            {{!-- <div class="save">
                <button class="save_button">Save</button>
            </div> --}}
        </div>
    </div>
    {{>header}}
    <section>

        <div class="left-col">
            <div class="background">
                <div class="background-content">
                    <div class="big-avatar"></div>
                    <div class="client-name">Le Minh</div>
                </div>
            </div>
            <div class="content-list">
                <div class="home_div">
                    <p class="title">
                        <i class="fas fa-home"></i>
                        Trang Chủ
                    </p>
                    <div class="home child">
                        <div class="homepage">
                            <i class="fas fa-dot-circle"></i>
                            <a href="/">Dashboard</a>
                        </div>
                    </div>

                </div>
                <div class="employee_div">
                    <p class="title">
                        <i class="fas fa-user-alt"></i>
                        Nhân viên
                    </p>
                    <div class="employee child">
                        <div class="employees">
                            <i class="fas fa-dot-circle"></i>
                            <a href="/employee">Quản lí nhân viên</a>
                        </div>
                        <div class="role_right">
                            <i class="fas fa-dot-circle"></i>
                            <a href=""> Cấp quyền truy cập </a>
                        </div>
                    </div>
                </div>
                <div class="project_div">
                    <p class="title">
                        <i class="fas fa-tasks"></i>
                        Quản lí dự án
                    </p>
                    <div class="project child">
                        <div class="clients">
                            <i class="fas fa-dot-circle"></i>
                            <a href="/client">Khách Hàng</a>
                        </div>
                        <div class="projects">
                            <i class="fas fa-dot-circle"></i>
                            <a href="/project">Dự án</a>
                        </div>
                        <div class="pay">
                            <i class="fas fa-dot-circle"></i>
                            <a href="">Hóa đơn</a>
                        </div>
                    </div>
                </div>
                <div class="management_div">
                    <p class="title">
                        <i class="fas fa-suitcase"></i>
                        Khả năng làm việc
                    </p>
                    <div class="management child">
                        <div class="reward">
                            <i class="fas fa-dot-circle"></i>
                            <a href=""> Thưởng </a>
                        </div>
                        <div class="warning">
                            <i class="fas fa-dot-circle"></i>
                            <a href=""> Cảnh báo </a>
                        </div>
                        <div class="kick">
                            <i class="fas fa-dot-circle"></i>
                            <a href=""> Thôi việc </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--  -->
        <div class="right-col">
            {{{body}}}

        </div>


    </section>
    {{>footer}}
</body>

</html>