<div class="top_bar">
    <p class="welcome">CẤP QUYỀN TRUY CẬP</p>

</div>

<div class="register_table">
    <p>Bảng Danh Sách</p>
    <table class="table">
        <tr id="title_row">
            <th id="title_id">ID</th>
            <th id="title_name">Username</th>
            <th id="title_email">Email</th>
            <th id="title_action">Thao tác</th>
        </tr>
    </table>
</div>