<div class="top_bar">
    <p class="welcome">NHÂN VIÊN</p>
    <button class="add_btn">
        <i class="fas fa-plus"></i>
        <p>Thêm</p>
    </button>


</div>
<div class="employee_table">
    <p>Bảng Danh Sách</p>
    <table class="table">
            <tr id="title_row">
                <th id="title_id">ID</th>
                <th id="title_name">Tên</th>
                <th id="title_phone">Số điện thoại</th>
                <th id="title_email">Email</th>
                <th id="title_dob">Ngày sinh</th>
                <th id="title_dob">Địa chỉ</th>
                <th id="title_action">Thao tác</th>
            </tr>
        
    </table>
</div>