<p class="welcome">WELCOME ADMIN !</p>
<div class="summary">
    <div class="employees">
        <div class="contents">
            <div class="title">
                NHÂN VIÊN
            </div>
            <div class="value">
                {{this.counta}}
            </div>
        </div>
    </div>
    <div class="projects">
        <div class="contents">
            <div class="title">
                DỰ ÁN HIỆN TẠI
            </div>
            <div class="value">
                {{this.countb}}
            </div>
        </div>
    </div>
    <div class="clients">
        <div class="contents">
            <div class="title">
                KHÁCH HÀNG
            </div>
            <div class="value">
                {{this.countc}}
            </div>
        </div>
    </div>
    <div class="total_revenue">
        <div class="contents">
            <div class="title">
                TỔNG TIỀN
            </div>
            <div class="value">
                {{this.countd}}
            </div>
        </div>
    </div>

</div>

<div class="copy">
    <div class="cover">
        <div class="announcement">
            Thông báo:
        </div>
        <div class="statement">- Trang web này được thiết kế dựa trên ý tưởng từ khóa học tại f8,
            truy cập kênh youtube f8 để hiểu rõ cách tạo một trang web sử dụng nodejs

        </div>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z2f7RHgvddc" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>