<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" />
    <link href="//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book" rel="stylesheet"
        type="text/css" />
    <script src="//cdn.jsdelivr.net/npm/less"></script>
    {{!-- <script src="script.js" defer></script> --}}
    <script src="https://kit.fontawesome.com/26d4a64054.js" defer></script>
    <title>Login</title>
</head>

<body>
    <nav>
        <div class="nav-content">
            <a href="#" class="left-nav">
                <i class="fab fa-centercode"></i>
                <p>LMCorporation</p>
            </a>

        </div>
    </nav>

    <section>
        <div class="box">
            {{!-- <img src="icon.png" class="avatar"> --}}
            <h1>Log In</h1>
            <div id="wrong">
                <p>Sai tên hoặc mật khẩu !</p>
            </div>
            <div class="aa">

                <p>Username</p>
                <input type="text" name="username" placeholder="Enter UserName" id="username">
                <p>Password</p>
                <input type="password" name="password" placeholder="Enter Password" id="password">
                <div class="submit_div">
                    <button id="submit">Login</button>
                </div>
                <br>
                <div class="link">
                    <a href="" style="text-decoration: none">Forget your password ?</a>
                    <br>
                    <br>
                    <a href="" style="text-decoration: none"> Don't have an account ?</a>
                </div>
            </div>
        </div>
    </section>
    {{>footer}}

    <script>
        login();
        const name = document.querySelector("#username");
        const pw = document.querySelector("#password");
        async function login() {
            const submit = document.querySelector("#submit");
            submit.addEventListener('click', fetchData);

        }

        async function fetchData() {
            let url = "http://localhost:3000/login";
            const defaultParams = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },

            }

            defaultParams.body = JSON.stringify({
                username: name.value,
                password: pw.value
            });
            console.log(defaultParams);
            const myResponse = await fetch(url, defaultParams);
            const myJson = await myResponse.json();
            if (myJson.status == "OK") {
                window.location.href = myJson.redirect;
            }
            else if (myJson.status == "WRONG") {
                addStatus();
            }
        }

        function addStatus() {
            const wrong_status = document.querySelector("#wrong");
            wrong_status.style.display = "block";

        }




    </script>


</body>

</html>