<div class="top_bar">
    <p class="welcome">DỰ ÁN</p>
    <button class="add_btn">
        <i class="fas fa-plus"></i>
        <p>Thêm</p>
    </button>


</div>
<div class="list_table">
    <p>Bảng Danh Sách</p>
    <table class="table">
        <tr id="title_row">
            <th id="title_id">ID</th>
            <th id="title_name">Tên Dự Án</th>
            <th id="title_client">Tên Khách Hàng</th>
            <th id="title_price">Giá dự án</th>
            <th id="title_deadline">Thời hạn</th>
            <th id="title_staff">Nhân viên thực hiện</th>
            <th id="title_action">Thao tác</th>
        </tr>

    </table>
</div>