<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" />
    <link href="//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book" rel="stylesheet"
        type="text/css" />
    <script src="//cdn.jsdelivr.net/npm/less"></script>
    <script src="/scripts/register.js" defer></script>
    <script src="https://kit.fontawesome.com/26d4a64054.js" defer></script>
    <title>Login</title>
</head>

<body>
    <nav>
        <div class="nav-content">
            <a href="/" class="left-nav">
                <i class="fab fa-centercode"></i>
                <p>LMCorporation</p>
            </a>

        </div>
    </nav>

    <section>
        <div class="box">
            {{!-- <img src="icon.png" class="avatar"> --}}
            <h1>Đăng Ký</h1>
            <div id="wrong">
                <p></p>
            </div>
            <div class="text_box">

                <p>Username</p>
                <input type="text" name="username" placeholder="Enter UserName" id="username">
                <p>Email</p>
                <input type="text" name="email" placeholder="Enter Email" id="email">
                <p>Password</p>
                <input type="password" name="password" placeholder="Enter Password" id="password">
                <div class="submit_div">
                    <button id="submit">Đăng Ký</button>
                </div>
                <br>

            </div>
        </div>
    </section>
    {{>footer}}

    <script>

    </script>


</body>

</html>